[Desktop Entry]
Name=AisleRiot Solitaire
Comment=Play many different solitaire games
Exec=sol
Icon=${SNAP}/meta/local/aisleriot.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;CardGame;
Keywords=solitaire;cards;klondike;spider;freecell;patience;
StartupNotify=true
